{% extends 'base.html.twig' %}

{% block title %}Hello FormationController!{% endblock %}

{% block body %}
<h1>Formation:</h1>
<p> <strong> {{formation}} </strong></p>

<h1> List Des Sessions:</h1>
<li><a href="{{ path('add_session_formation',{'id':formation.id}) }}">Ajouter session </a> </li>


<table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">Nombre de places</th>
        <th scope="col">Date Debut</th>
        <th scope="col">Date Fin</th>
        <th scope="col">Session Info</th>
      </tr>
    </thead>
    <tbody>
      {% for session in formation.sessions  %}
      <tr>
        <td>                                  
            <!--json data 'id':formation.id-->
          {{session.nombrePlaces}}
        </td>
        <td>                                  
          <!--json data 'id':formation.id-->
          {{session.dateDebut|date('d-m-Y') }}
        </td>
        <td>                                  
          <!--json data 'id':formation.id-->
          {{session.dateFin|date('d-m-Y') }}
        </td>

        <td>
          <a href="{{ path('show_session',{'id':session.id}) }}">
            <i class="fa-solid fa-info"></i>
          </a>
        </td>           

      </tr>
      {% endfor %}
    </tbody>
  </table>



{% endblock %}
