{% extends 'base.html.twig' %}

{% block title %}Hello StagiaireController!{% endblock %}

{% block body %}
<h1>Stagiaire:</h1>


<div class="card">
    <h4 class="cardtitle"><strong> {{stagiaire}} </strong></h4>
        
</div>


<h1> List Des Sessions inscrits:</h1>

<table class="table">
    <thead class="thead-light">
      <tr>
        
        <th scope="col">Nombre de places</th>
        <th scope="col">Date Debut</th>
        <th scope="col">Date Fin</th>
        <th scope="col">Session Info</th>
        
      </tr>
    </thead>
    <tbody>
      {% for session in stagiaire.sessions  %}
      <tr>
        <td>                                  
            <!--json data 'id':formation.id-->
          {{session.nombrePlaces}}
        </td>
        <td>                                  
          <!--json data 'id':formation.id-->
          {{session.dateDebut|date('d-m-Y') }}
        </td>
        <td>                                  
          <!--json data 'id':formation.id-->
          {{session.dateFin|date('d-m-Y') }}
        </td>

        <td>
          <a href="{{ path('show_session',{'id':session.id}) }}">
            <i class="fa-solid fa-info"></i>
          </a>
        </td>                                  
      </tr>
      {% endfor %}
    </tbody>
  </table>


{% endblock %}
